#phImageBrowserSubmit { float: left; }
#phImageBrowserSubmit a, 
#phImageBrowserSubmit input { margin: .5em; }
#phImageBrowserPager { float: left; }

/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
    display: none;
    
    position: absolute;
    top: 10%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
		/*height: 500px;
				overflow: scroll;*/
    
    background-color: white;
    color: #333;
    border: 1px solid black;
    padding: 12px;

		z-index: 3000;
	 	* zoom: 1;
}

.jqmFixedWindow { position: fixed; }

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmFixedWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
